main {
  margin: 0 auto;
  max-width: 100%;
  padding: 25px 26px;
  background: #000000;
}

.main_row img {
  width: 400px;
  height: 400px;
}
.project-text {
  color: var(--secondary);
  position: absolute;
  top: 0px;
  bottom: 3px;
  left: 0px;
  right: 0px;
  padding: 40px;
  z-index: 900;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  font-size: 25px;
}

.project-text:hover {
  background-color: var(--alpha);
  opacity: 1;
  border: 10px solid var(--secondary);
}

.project-text h3 {
  font-size: 2rem;
}

.project-text a {
  text-decoration: none;
  font-weight: bold;
  color: var(--dark);
  transition: all 0.4s ease-in-out;
}

.project-text a:hover {
  color: var(--darker);
}

.navActive {
  color: var(--secondary);
  cursor: default;
  text-shadow: 3px 3px 12px rgba(255, 255, 255, 0.5);
}
.input-group {
border: #ccc solid 2px;
background: rgba(0, 0, 0, 0.3);
border-radius: 10px;
display: flex;
justify-content: flex-start;
align-items: stretch;
margin: 1.5em 0;
}

.input-group input {
background: none;
border: none;
font-size: 1em;
padding: 0.5em;
width: 100%;
color: #eee;
transition: 0.3s;
}

.input-group input::placeholder {
color: #ccc;
}

input {
padding: 1 1em;
border-right: #ccc solid 1px;
display: flex;
justify-content: center;
align-items: center;
}

:root {
--primary: #ff9900;
--secondary: #403d31;
--tertiary: #a22303;
--light: #fafafa;
--dark: #7e5d09;
--darker: #773f00;
--alpha: rgba(255, 255, 255, 0.5);
--error: rgb(255, 51, 0);
--spacing-one: calc(1rem * 0.5);
--spacing-two: calc(1rem);
--spacing-five: calc(2.5rem);
}
.form {
      background: 
        linear-gradient(
          0deg, rgba(252, 130, 0, 0.2), 
          rgba(255, 255, 255, 0.5)
        );
      box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 37%);
      backdrop-filter: blur(4px);
      border-radius: 15px;
      border: 1px solid rgba(255, 255, 255, 0.15);
      padding: 1em 2em;
      color: #fff;
      width: 90%;
      max-width: 50em;
}

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  background: #000000;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1;
  font-size: 18px;
  letter-spacing: 0.1em;
  background: var(--darker);
  color: var(--light);
  font-family: "Raleway", serif;
  background: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", serif;
  font-weight: 600;
  margin: 7px 0;
  line-height: 1.25;
}

h1 {
  font-size: 5rem;
  margin: 50px 20px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}
.clear {clear: both;}
p {
  font-size: 1rem;
  margin: 20px 0;
  line-height: 2rem;
}

a {
  color: var(--light);
  text-decoration: none;
  opacity: 0.5;
}

a:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

header {
  background: #000000;
}

header a {
  color: var(--light);
}

button {
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 0.5rem;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  margin: 0 1px;
  background-color: var(--dark);
  padding: 10px 15px;
  opacity: 0.7;
}

button:hover {
  opacity: 1;
}

button[disabled] {
  cursor: default;
  opacity: 0.8;
}

img {
  max-width: 100%;
}

span[role='img'] {
  cursor: default;
}

form {
  width: 40%;
}

input {
  margin: 10px 0;
  font-size: 1rem;
  padding: 0.25rem;
  width: 600px;
  border: 1px solid var(--dark);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
  margin-right: 10px;
}

li {
  list-style: none;
}

header {
  height: 120px;
  position: relative;
  overflow: hidden;
  z-index: 2;
}

header h1 {
  position: relative;
  z-index: 2;
}

header img {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: auto;
  filter: sepia(1) opacity(60%);
  opacity: 0.5;
}

nav {
  position: flex-row;
  font-family: "Raleway", serif;
  font-size: 3.5rem;
  margin: 30px 20px;
}

nav a:hover {
  text-decoration: none;
}

nav li {
  cursor: pointer;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin: 0 50px;
}

ul.skills {
  line-height: 3rem;
}

ul.skills li {
  list-style-type: circle;
}

footer {
  font-size: 48px;
  justify-content: center;
  background: #000000;
}

footer a {
  color: var(--light);
  opacity: 0.5;
  margin: 10px 20px;
  transition: all 0.3s ease-in-out;
}

footer a:hover {
  opacity: 1;
  background: #000000;
}

textarea {
  width: 600px;
  height: 200px;
  border: 3px solid #cccccc;
  padding: 5px;
  margin-top: 10px;
  
}
.contact-form {
  margin: 0;
      background: black no-repeat center;
      background-size: cover;
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2em;
    }

.container {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}


.card {
  width: 25%;
  text-align: center;
}

.project {
  position: relative;
  width: 100%;
  max-width: 500px;
  height: 350px;
  margin: 30px;
}

.project-bg {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 20px;
}

@media only screen and (max-width: 1300px) {
  nav {
    position: static;
    display: block;
    z-index: 100;
    margin: 0 10px;
    font-size: 2rem;
  }
  header h1 {
    display: block;
    height: 30px;
  }
}
@media only screen and (max-width: 900px) {
  nav {
    position: static;
    display: block;
    z-index: 50;
    margin: 0 10px;
    font-size: 1.3rem;
  }
  header h1 {
    display: block;
    margin: 5px 10px;
    height: 15px;
    width: 100%;
    text-align: center;
    font-size: 2.3rem;
  }
}
